<!doctype html>
<html>
    <head>        
        <meta charset="utf-8"/>
        <title>Vote</title>
    </head>
    <body>
    <p>Did you expect the Spanish Inquisition?</p>
    <form action="/vote" method="post">
        <input type="radio" name="vote" value="yes" />Yes <br />
        <input type="radio" name="vote" value="no" />No <br />
        <input type="radio" name="vote" value="no_one" />No one expects the Spanish Inquisition! <br />
        <input type="submit" value="Vote" />

    </form>

  
    </body>
</html>
